.row+.row {
  margin-top: 1rem;
}

.color-picker-input-container {
  display: flex;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;  
}

.color-picker-input-group {
  width: 195px;
  margin-right: 10px;
}

.color-picker-input {
  border-radius: 5px;
  color: black;
  box-shadow: none;
}
input::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}
input::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.color-picker-error {
  color: red;
  margin-left: 10px;
}

.color-picker-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  cursor: pointer;
}
  